@use "index";
@use "variables" as v;

@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

// Mixin para o efeito de glassmorphism
@mixin glass-effect($color: rgb(255 255 255 / 0.25), $blur: 5px) {
    background: $color;
    backdrop-filter: blur($blur);
    -webkit-backdrop-filter: blur($blur);
}

body {
    background-color: v.$gray-2;
}

.header {
    background-color: v.$brand-1;
}

.main-service {
    display: flex;
    padding: 0.9vw v.$padding-x 2.831vw v.$padding-x;
    background-color: v.$brand-1;

    @media (max-width: 768px) {
        & {
            padding: 5.333vw 4.071vw 8.533vw 4.071vw;
            gap: 5.333vw;
        }
    }

    &__content {
        position: relative;
        width: 88.677vw;
        height: 39.42vw;
    }

    @media (max-width: 768px) {
        &__content {
            width: 91.858vw;
            height: 200.509vw;
        }
    }

    &__logo {
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        grid-area: logo;
        background-color: v.$brand-1-dark;
        width: 17.339vw;
        height: 16.844vw;
        border-radius: 1.699vw;

        &-img {
            width: 11.96vw;
        }
    }

    @media (max-width: 768px) {
        &__logo {
            bottom: 0;
            right: 0;
            z-index: 10;
            width: 40.967vw;
            height: 39.695vw;
            border-radius: 6.107vw;

            &-img {
                width: 28.26vw;
            }
        }
    }



    &__container {
        position: absolute;
        right: 0;
        display: flex;
        justify-content: space-between;
        grid-area: container;
        width: 69.639vw;
        height: 29.016vw;
        background-color: v.$gray-1;
        padding: 2.123vw 1.699vw 1.699vw 2.831vw;
        clip-path: url(#main-service__path--desktop);
    }

    @media (max-width: 768px) {
        &__container {
            width: 91.858vw;
            height: 80.407vw;
            right: auto;
            top: 0;
            clip-path: url(#main-service__path--mobile);
            padding: 4.071vw;
        }
    }

    &__icons {
        display: grid;
        grid-template-areas: "paw heart"
            "dog bone";
        gap: 2.269vw;
        width: 13.69vw;
        align-content: start;
    }

    @media (max-width: 768px) {
        &__icons {
            position: absolute;
            grid-template-areas: "paw heart dog bone";
            width: 36.132vw;
            height: 7.634vw;
            bottom: 4.071vw;
            gap: 2.168vw;
            align-content: auto;
        }
    }


    &__icon {

        &--dog {
            width: 4.777vw;
            grid-area: "dog";
        }

        &--bone {
            width: 5.874vw;
            grid-area: "bone";
        }

        &--paw {
            width: 5.874vw;
            grid-area: "paw";
        }

        &--heart {
            width: 5.662vw;
            grid-area: "heart";
        }
    }

    @media (max-width: 768px) {
        &__icon {
            &--dog {
                width: 6.616vw;
                grid-area: "dog";
            }

            &--bone {
                width: 7.888vw;
                grid-area: "bone";
            }

            &--paw {
                width: 7.379vw;
                grid-area: "paw";
            }

            &--heart {
                width: 7.634vw;
                grid-area: "heart";
            }
        }
    }

    &__images {
        display: flex;
        gap: 1.699vw;
    }

    @media (max-width: 768px) {
        &__images {
            gap: 2.036vw;
        }
    }

    &__image {
        width: 19.604vw;
        border-radius: 1.171vw;
        object-fit: cover;
    }

    @media (max-width: 768px) {
        &__image {
            width: 40.967vw;
            height: 56.489vw;
            border-radius: 4.071vw;
        }
    }

    &__texts {
        display: flex;
        flex-direction: column;
        gap: 1.537vw;
    }

    &__info {
        position: absolute;
        bottom: 0;
        display: flex;
        justify-content: space-between;
        align-items: end;
        grid-area: info;
        background-color: v.$brand-1-light;
        width: 65.676vw;
        height: 20.736vw;
        padding: 2.265vw;
        clip-path: url(#main-service__path-2--desktop);

        &-title {
            font-size: 1.274vw;
            font-weight: bold;
        }

        &-description {
            font-family: "Raleway", sans-serif;
            font-size: 2.831vw;
            width: 36.896vw;
        }

        &-button {
            display: flex;
            justify-content: center;
            align-items: center;
            color: v.$gray-1;
            background-color: v.$brand-1;
            font-size: 1.318vw;
            padding: 0.878vw;
            width: 17.716vw;
            height: 3.807vw;
            border-radius: 0.586vw;
        }

        &-button:hover {
            color: v.$gray-1;
            background-color: color-mix(in srgb, v.$gray-1 30%, v.$brand-1);
        }
    }

    @media (max-width: 768px) {
        &__info {
            flex-direction: column;
            justify-content: auto;
            align-items: start;
            clip-path: url(#main-service__path-2--mobile);
            bottom: auto;
            top: 70vw;
            width: 91.858vw;
            height: 82.443vw;
            padding: 20.356vw 4.071vw;
            gap: 6.107vw;

            &-title {
                font-size: 4.58vw;
            }

            &-description {
                font-size: 6.107vw;
                width: 100%;
            }

            &-button {
                width: 62.341vw;
                height: 13.232vw;
                padding: 3.053vw 6.107vw;
                font-size: 4.58vw;
                border-radius: 2.036vw;
            }
        }
    }

    &__decoration {
        position: absolute;
        bottom: 0;
        right: 0;
        display: flex;
        justify-content: center;
        grid-area: decoration;
        align-items: end;
        background-color: v.$brand-1-dark;
        gap: 3.306vw;
        width: 22.035vw;
        height: 9.444vw;
        padding: 0 1.07vw 0 1.83vw;
        border-radius: 1.757vw;

        &-img {
            &--hamister {
                width: 8.553vw;
            }

            &--bird {
                width: 7.276vw;
            }
        }
    }

    @media (max-width: 768px) {
        &__decoration {
            right: auto;
            left: 0;
            gap: 5.598vw;
            width: 45.802vw;
            height: 39.44vw;
            padding: 0 1.486vw 0 0.85vw;
            border-radius: 4.071vw;

            &-img {
                &--hamister {
                    width: 20.461vw;
                }

                &--bird {
                    width: 17.407vw;
                }
            }
        }
    }
}

.appointment {
    padding: 8.139vw v.$padding-x 9.554vw v.$padding-x;

    &__content {
        display: flex;
        height: 33.404vw;
        position: relative;
        transform: translateZ(0);
        will-change: transform;
    }

    @media (max-width: 768px) {
        padding: 8.142vw 4.071vw 8.142vw 4.071vw;

        &__content {
            height: auto;
        }
    }

    &__title {
        font-family: "Raleway", sans-serif;
        font-weight: 500;
        font-size: 2.831vw;
        color: v.$brand-1;
        grid-area: title;
        margin-bottom: 0.566vw;
    }

    @media (max-width:768px) {
        &__title {
            font-size: 6.107vw;
            margin-bottom: 47.837vw;
            width: 100%;
        }
    }

    &__container {
        display: grid;
        grid-template-areas: "title title . ."
            "eletro radio . ."
            "ultra lab clinical .";
        grid-template-columns: 21.373vw 21.373vw 21.373vw 18.754vw;
        gap: 1.699vw;
        width: 88.606vw;
    }

    @media (max-width: 768px) {
        &__container {
            grid-template-areas: "title title"
                ". ."
                "eletro ."
                "clinical ultra"
                "lab radio";
            grid-template-columns: repeat(2, 1fr);
            gap: 2.036vw;
            width: 100%;
        }
    }

    &__card {
        display: flex;
        flex-direction: column;
        align-items: left;
        background-color: v.$brand-1-light;
        color: v.$gray-10;
        padding: 1.699vw;
        gap: 1.132vw;
        border-radius: 0.566vw;

        &-icon {
            width: 2.265vw;
        }

        &-title {
            font-weight: bold;
            font-size: 1.132vw;
        }

        &-description {
            font-size: 0.991vw;
            width: 16.702vw;
        }

        &--eletro {
            grid-area: eletro;
        }

        &--radio {
            grid-area: radio;
        }

        &--ultra {
            grid-area: ultra;
        }

        &--lab {
            grid-area: lab;
        }

        &--clinical {
            grid-area: clinical;
        }
    }

    @media (max-width: 768px) {
        &__card {
            padding: 4.071vw;
            gap: 2.036vw;
            border-radius: 2.036vw;

            &-icon {
                width: 8.142vw;
            }

            &-title {
                font-size: 3.562vw;
            }

            &-description {
                font-size: 3.562vw;
                width: 36.641vw;
            }
        }
    }

    &__image {
        position: absolute;
        right: 2vw;
        top: -0.5vw;
        width: 42vw;
        height: 36.9vw;
        -webkit-clip-path: url(#appointment__path--desktop);
        clip-path: url(#appointment__path--desktop);

        @-moz-document url-prefix() {
            top: -0.5vw;
            right: 2vw; 
        }

        &-img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: 60% 20%;
        }
    }

    @media (max-width: 768px) {
        &__image {
            right: auto;
            top: 15.267vw;
            width: 100%;
            height: 93.059vw;
            clip-path: url(#appointment__path--mobile);
        }
    }
}

.therapy {
    display: flex;
    flex-direction: column;
    gap: 2.265vw;
    color: v.$gray-1;
    padding-bottom: 2.831vw;

    @media (max-width: 768px) {
        & {
            gap: 4.58vw;
            padding-bottom: 4.071vw;
        }
    }

    &__content {
        &-top {
            display: flex;
            gap: 1.699vw;
            padding: 10.333vw 5.662vw 0 5.662vw;
        }

        &-bottom {
            background-color: v.$brand-1;
            width: 100%;
            height: 16.985vw;
        }
    }

    @media (max-width: 768px) {
        &__content {
            &-top {
                flex-direction: column-reverse;
                padding: 4.071vw;
                gap: 6.107vw;
            }

            &-bottom {
                height: 39.695vw;
            }
        }
    }

    &__logo {
        width: 15.853vw;
        height: 15.853vw;

        &-img {
            object-fit: cover;
            width: 100%;
            height: 100%;
        }
    }

    @media (max-width: 768px) {
        &__logo {
            width: 20.356vw;
            height: 20.356vw;
        }
    }

    &__container {
        display: grid;
        grid-template-columns: repeat(2, auto);
        gap: 1.132vw;
    }

    @media (max-width: 768px) {
        &__container {
            grid-template-columns: 1fr;
            gap: 4.071vw;
        }
    }

    &__card {
        display: flex;
        flex-direction: column;
        background-color: v.$brand-1;
        gap: 1.132vw;
        padding: 1.132vw;
        width: 22.364vw;
        height: 8.776vw;
        border-radius: 1.132vw;

        &-title {
            font-weight: bold;
            font-size: 1.274vw;
        }

        &-description {
            font-size: 1.132vw;
            width: 21vw;
        }
    }

    @media (max-width: 768px) {
        &__card {
            gap: 2.036vw;
            padding: 4.071vw;
            width: 100%;
            height: 27.481vw;
            border-radius: 4.071vw;

            &-title {
                font-size: 4.58vw;
            }

            &-description {
                font-size: 3.562vw;
                width: 100%;
            }
        }
    }

    &__band {
        display: flex;
        justify-content: start;
        position: relative;
        padding: 5.096vw 5.662vw;
        width: 100%;

        &-text {
            font-family: "Raleway", sans-serif;
            font-size: 4.529vw;
            font-weight: 600;
        }

        &-img {
            position: absolute;
            object-fit: cover;
            width: 27.53vw;
            height: 41.897vw;
            right: 5.662vw;
            bottom: 0;
        }
    }

    @media (max-width: 768px) {
        &__band {
            padding: 7.634vw 4.071vw;

            &-text {
                font-size: 8.142vw;
                width: 70.483vw;
            }

            &-img {
                width: 44.02vw;
                height: 66.921vw;
            }
        }
    }
}

.wellbeing {
    overflow: hidden;
    height: 51.097vw;

    @media (max-width: 768px) {
        & {
            height: 208.183vw;
        }
    }

    &__content {
        position: relative;
        display: flex;
        width: 100%;
        height: 100%;
        justify-content: center;
        align-items: center;
    }

    &__card {
        @include glass-effect($blur: 4px);
        display: flex;
        flex-direction: column;
        gap: 2.265vw;
        width: 39.137vw;
        height: 25.195vw;
        padding: 2.265vw;
        border-radius: 1.132vw;
        color: v.$gray-7;
        background-color: rgba(v.$gray-7, 0.05);
        z-index: 10;

        &-title {
            font-family: "Raleway", sans-serif;
            font-weight: 600;
            font-size: 2.831vw;
            color: v.$brand-1;
        }

        &-content {
            display: flex;
            flex-direction: column;
            font-size: 1.3vw;
        }

        &-subtitle {
            font-weight: bold;
        }

        &-description {}
    }

    @media (max-width: 768px) {
        &__card {
            @include glass-effect($blur: 3px);
            margin: 0 4.071vw;
            width: 100%;
            height: fit-content;
            gap: 6.107vw;
            padding: 8.142vw;
            background-color: rgba(v.$gray-7, 0.08);
            border-radius: 4.071vw;

            &-content {
                font-size: 4.3vw;
            }

            &-title {
                font-size: 6.107vw;
            }
        }
    }

    &__image {
        position: absolute;
        width: 32.701vw;

        &--delivery {
            left: -1vw;
            top: 1.486vw;
        }

        &--dog {
            width: 34.5vw;
            bottom: 0;
            right: 0;
        }
    }

    @media (max-width: 768px) {
        &__image {
            width: 62.98vw;

            &--delivery {
                left: -8vw;
                transform: rotate(5deg);
            }

            &--dog {
                right: -10vw;
                bottom: 3vw;
                transform: rotate(15deg);
            }
        }
    }

    &__paw {
        position: absolute;
        width: 20vw;

        &--left {
            left: 19vw;
            bottom: 0;
        }

        &--right {
            right: 18vw;
            top: 0;
            transform: scaleX(-1);
        }
    }

    @media (max-width: 768px) {
        &__paw {
            width: 35vw;

            &--left {
                bottom: auto;
                top: 60vw;
                left: -10vw;
            }

            &--right {
                right: -10vw;
                top: auto;
                bottom: 65vw;
            }
        }
    }
}

.hospitalization {
    background-image: url(../../dist/assets/images/people/stefane-4.webp);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 51.097vw;
    padding: 32.13vw 5.662vw 2.831vw 5.662vw;
    color: v.$gray-1;

    @media (max-width: 768px) {
        & {
            position: relative;
            background-image: none;
            height: 196.438vw;
            padding: 0;
        }

        &::before {
            content: "";
            position: absolute;
            inset: 0;
            width: 100%;
            height: 100%;
            background-image: url(../../dist/assets/images/people/stefane-5.webp);
            background-size: contain;
            background-position: center;
            background-repeat: no-repeat;
            z-index: -1;
        }
    }

    &__content {
        display: flex;
        gap: 2.265vw;

        &-left {}

        &-right {
            display: grid;
            grid-template-areas: "rectangle less"
                "slogan slogan";
            grid-template-columns: repeat(2, auto);
            gap: 1.699vw;
        }
    }

    @media (max-width: 768px) {
        &__content {
            position: relative;
            flex-direction: column;
            padding: 13.74vw 2.545vw 10.433vw 2.545vw;
            gap: 0;
            width: 100%;
            height: 142.494vw;

            &-right {
                display: block;
                width: fit-content;
                height: fit-content;
                grid-template-areas: none;
                grid-template-columns: auto;
                gap: 0;
            }
        }
    }

    &__maincard {
        @include glass-effect($blur: 4px);
        display: flex;
        flex-direction: column;
        gap: 3.397vw;
        background-color: rgba(#092B1F, 0.25);
        padding: 1.699vw;
        border-radius: 1.699vw;
        width: fit-content;
        height: fit-content;

        &-title {
            font-size: 2.265vw;
            font-weight: bold;
        }

        &-bodies {
            display: flex;
            gap: 5.662vw;
        }

        &-body {
            display: flex;
            flex-direction: column;
            gap: 1.132vw;
        }

        &-subtitle {
            font-size: 1.274vw;
            font-weight: bold;
        }

        &-description {
            font-size: 1.132vw;
            width: 21.161vw;
        }
    }

    @media (max-width: 768px) {
        &__maincard {
            position: absolute;
            top: 78vw;
            left: 2.545vw;
            gap: 5.852vw;
            padding: 8.142vw;
            border-radius: 8.142vw;
            width: 94.911vw;
            height: fit-content;

            &-title {
                font-size: 4.071vw;
            }

            &-bodies {
                flex-direction: column;
                gap: 5.598vw;
            }

            &-body {
                gap: 4.071vw;
            }

            &-subtitle {
                font-size: 3.562vw;
                width: 70.992vw;
            }

            &-description {
                font-size: 3.562vw;
                width: 70.992vw;
            }
        }
    }

    &__rectangle {
        grid-area: rectangle;
        background-color: v.$brand-1;
        width: 4.034vw;
        height: 7.643vw;
        border-radius: 1.699vw;
    }

    @media (max-width: 768px) {
        &__rectangle {
            display: none;
        }
    }

    &__lesscard {
        grid-area: less;
        @include glass-effect($blur: 4px);
        display: flex;
        flex-direction: column;
        background-color: rgba(#092B1F, 0.25);
        padding: 1.132vw;
        width: fit-content;
        height: fit-content;
        border-radius: 1.699vw;
        gap: 0.566vw;

        &-row {
            display: flex;
            gap: 0.566vw;
        }

        &-icon {
            width: 0.82vw;
        }

        &-text {
            font-size: 0.991vw;
        }
    }

    @media (max-width: 768px) {
        &__lesscard {
            padding: 4.071vw;
            width: 52.926vw;
            height: 27.481vw;
            border-radius: 6.107vw;
            gap: 2.036vw;

            &-row {
                gap: 2.036vw;
            }

            &-icon {
                width: 2.949vw;
            }

            &-text {
                font-size: 3.562vw;
            }
        }
    }

    &__slogan {
        grid-area: slogan;
        display: flex;
        background-color: v.$brand-1-light;
        gap: 1.132vw;
        padding: 1.699vw;
        border-radius: 1.699vw;

        &-icon {
            width: 3.393vw;
        }

        &-text {
            color: v.$brand-1-dark;
            font-size: 0.991vw;
            width: 12.527vw;
        }
    }

    @media (max-width: 768px) {
        &__slogan {
            position: absolute;
            bottom: -38vw;
            right: 15.776vw;
            gap: 4.071vw;
            padding: 5.115vw 3.695vw;
            border-radius: 6.107vw;

            &-icon {
                width: 12.201vw;
            }

            &-text {
                font-size: 3.053vw;
                width: 45.038vw;
            }
        }
    }
}

.procedures {
    padding: 6.936vw 5.662vw;

    &__content {
        display: flex;
        gap: 5.662vw;
    }

    @media (max-width: 768px) {
        & {
            padding: 4.071vw;

            &__content {
                flex-direction: column;
            }
        }
    }

    &__left {
        position: relative;
    }

    &__right {
        display: flex;
        flex-direction: column;
        gap: 2.831vw;
        margin-top: 7.714vw;
    }

    @media (max-width: 768px) {
        &__right {
            gap: 6.107vw;
            margin-top: 0;
        }
    }

    &__employee {
        &-top {
            position: absolute;
            width: 18.754vw;
        }

        &-bottom {
            position: absolute;
            right: 0;
            bottom: 0;
            width: 18.047vw;
        }
    }

    @media (max-width: 768px) {
        &__employee {
            &-top {
                width: 42.748vw;
            }

            &-bottom {
                width: 41.73vw;
            }
        }
    }

    &__differential {
        position: relative;
        background-color: v.$brand-1;
        width: 39.632vw;
        height: 39.632vw;
        clip-path: url(#procedures__path--desktop);
        -webkit-clip-path: url(#procedures__path--desktop);

        &-logo {
            position: absolute;
            top: 2.831vw;
            right: 2.831vw;
            width: 14.296vw;
        }

        &-icon {
            position: absolute;
            bottom: 4.529vw;
            left: 4.529vw;
            width: 10.757vw;
        }
    }

    @media (max-width: 768px) {
        &__differential {
            width: 91.858vw;
            height: 91.858vw;

            &-logo {
                width: 36.641vw;
                top: 4.835vw;
                right: 4.071vw;
            }

            &-icon {
                left: 9.16vw;
                bottom: 7.125vw;
                width: 27.735vw;
            }
        }
    }


    &__text {
        display: flex;
        flex-direction: column;
        gap: 2.265vw;
        color: v.$gray-7;
        width: 34.466vw;
    }

    @media (max-width: 768px) {
        &__text {
            gap: 6.107vw;
            width: 100%;
        }
    }

    &__title {
        font-family: "Raleway", sans-serif;
        color: v.$brand-1;
        font-size: 2.831vw;
        font-weight: 600;
    }

    @media (max-width: 768px) {
        &__title {
            font-size: 7.125vw;
        }
    }

    &__subtitle {
        font-weight: bold;
        font-size: 1.274vw;
    }

    @media (max-width: 768px) {
        &__subtitle {
            font-size: 4.071vw;
        }
    }

    &__description {
        font-size: 1.274vw;
    }

    @media (max-width: 768px) {
        &__description {
            font-size: 4.071vw;
        }
    }
}