@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
@import "reset.css";

:root {
    --pd-x-default: clamp(1rem, 2vw, 5rem);
    --c-gray-1: #FFFFFF;
    --c-gray-2: #F8F9FA;
    --c-gray-3: #E9ECEF;
    --c-gray-4: #DEE2E6;
    --c-gray-5: #CED4DA;
    --c-gray-6: #ADB5BD;
    --c-gray-7: #6C757D;
    --c-gray-8: #495057;
    --c-gray-9: #343A40;
    --c-gray-10: #212529;

    --color-brand-1: #72A45C;
    --color-brand-1-light: #DDE9D8;
    --color-brand-1-dark: #24341D;

    --color-brand-2: #A45C89;
    --color-brand-2-light: #E9D8E3;
    --color-brand-2-dark: #341D2C;

    --color-success: #5DA857;
    --color-success-light: #FAFEF7;
    --color-success-dark: #588450;

    --color-alert: #FFCE73;
    --color-alert-light: #FFF9F6;
    --color-alert-dark: #BA9452;

    --color-error: #FF0909;
    --color-error-light: #FEF5F7;
    --color-error-dark: #A92B2E;
}

/* 
    padding section: 5rem
*/

.c-menu {
    padding: var(--pd-section);
}